<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Instruction"></Label>
</ActionBar>
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Instruction'"></MyDrawer>
    </StackLayout>
    <StackLayout verticalAlignment="center" horizontalAlignment="center" class="page page-content" tkMainContent>
        <TextView class="body text-center" [text]="txtInstruction" returnKeyType="send" (returnPress)="submit($event)" [editable]="false" class="input input-border" style="text-align: center;"></TextView>
        <Label *ngIf= "isAfter" class="body text-center font-weight-bold text-danger" [text]="countDown" ></Label>                    
        <Label *ngIf= "isAfter" #countDownLabel class="footnote text-center" [text]="txtInstructionEnd" style="text-align: center;"></Label>        
        <button text="Start" class="btn btn-primary" (onTap)="onStartTask()"></button>
    </StackLayout>
</RadSideDrawer>`