<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Home'"></MyDrawer>
    </StackLayout>
    <GridLayout rows="*" columns="*" class="page page-content" tkMainContent>
        <!-- <Label class="page-icon fa" text="&#xf015;"></Label> -->
        <ListView [items]="tasksVM" row="0" col="0" (itemTap)="onStartTask($event)">
            <ng-template let-task="item" let-i="index">
                <StackLayout>
                    <Label class="btn btn-primary" [isEnabled]="getEnabled(i)" [text]="task.name"></Label>
                    <GridLayout columns="*,*" rows="*,*,*">
                        <label class="btn bg-primary" row="0" col="0" [text]="task.status"></label>
                        <Progress row="0" col="1" [value]="task.completionPercentage" maxValue="100" class="m-20" color="#8C489F" backgroundColor="#FFFF66"></Progress>
                        <label class="btn bg-primary" row="0" col="0" [text]="task.status"></label>
                    </GridLayout>
                </StackLayout>
            </ng-template>
        </ListView>
    </GridLayout>
</RadSideDrawer>