<GridLayout columns="1*,1*" rows="*,*" #container>
        <Image #img src="" col="0" row="0" colspan="2" stretch="aspectFit" horizontalAlignment="center"></Image>      
        <button col="0" row="1" #btnNo text="NO" class="btn btn-primary" (onTap)="onNoTap()" style="width:100%; height:100%;"></button>
        <button col="1" row="1" #btnYes text="YES" class="btn" (onTap)="onYesTap()" style="width:100%; height:100%;color: white;background-color: #01a7f6"></button>
</GridLayout>