<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Transfer Stat"></Label>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'statTransfer'"></MyDrawer>
    </StackLayout>
    <GridLayout class="page page-content" tkMainContent>
        <label *ngIf= "!anyTransfer" class="text-center font-weight-bold" text = "No avaliable transfer had completed"></label>
        <RadCartesianChart *ngIf="anyTransfer" tkExampleTitle tkToggleNavButton>
            <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
            <LinearAxis tkCartesianVerticalAxis></LinearAxis>
        
            <BarSeries tkCartesianSeries [items]="responseSource" categoryProperty="response" valueProperty="responseTimeInSeconds"></BarSeries>
        </RadCartesianChart>

    </GridLayout>
</RadSideDrawer>