/* .sidedrawer.sidedrawer-left .sidedrawer-header-image{color:#F8F8F8;height:60;width:60;font-size:60;padding:0;margin-bottom:10;margin-top:10}
.sidedrawer.sidedrawer-left .footnote{color:rgba(255,255,255,0.5)}
.sidedrawer .sidedrawer-header{background-color:#3A53FF}
.sidedrawer .sidedrawer-header .sidedrawer-header-brand{color:#fff}
.sidedrawer .sidedrawer-content{background-color:#fff;height:100%}
.sidedrawer .sidedrawer-content ListView{height:100%}
.sidedrawer .sidedrawer-list-item{padding-left:15}
.sidedrawer .sidedrawer-list-item Label{vertical-align:center;color:#022734}
.sidedrawer .sidedrawer-list-item .fa{width:20;margin-right:5}
.sidedrawer .sidedrawer-list-item.selected{background-color:#F8F8F8}
.sidedrawer .sidedrawer-list-item.selected Label{color:#3A53FF}
.sidedrawer .sidedrawer-list-item.sidedrawer-list-item-settings{border-top-width:1px;border-top-color:rgba(2,39,52,0.5)} */