<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="History"></Label>
</ActionBar>
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'History'"></MyDrawer>
    </StackLayout>
    <GridLayout rows="*" columns="*" class="page page-content" tkMainContent>
        <!-- <Label class="page-icon fa" text="&#xf015;"></Label> -->
        <ScrollView>
            <StackLayout class="form">
                <StackLayout class="input-field">
                    <Label text="ID" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [(ngModel)]="input.id"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="Title" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [(ngModel)]="input.title"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="Body" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [(ngModel)]="input.body"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Button class="btn btn-primary w-full" text="Schedule" (tap)="schedule()"></Button>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>
</RadSideDrawer>