StackLayout{margin-left:30;margin-right:30;padding-bottom:15}Image{margin-top:5;margin-bottom:20}Button{margin-left:16;margin-right:16;margin-bottom:10}.submit-button{background-color:#CB1D00;color:white;margin-top:20}TextField{margin-left:16;margin-right:16;margin-bottom:10;placeholder-color:black}
